<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation" id="navbar">
  <div class="container">
    <a class="navbar-brand font-weight-bold" routerLink="/">WebShop Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
      aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Shop</a>
        </li>
        <li class="nav-item">
          <a (click)="notImplmented()" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a (click)="notImplmented()" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>


    <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
      <li class="list-inline-item"><a routerLink="/cart"><i class="tf-ion-android-cart"></i></a></li>
      <li class="list-inline-item nav-item dropdown dropdown-slide">
            <a class="nav-link dropdown-toggle" routerLink="/profile" id="navbarDropdown" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="tf-ion-ios-person mr-3"></i>
          </a>

          <ul *ngIf="(userService.currentUser$ | async); else noUser" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="/profile">View Profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>

          <ng-template #noUser>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="/login">Login</a></li>
              <li><a routerLink="/register">Register</a></li>
            </ul>
          </ng-template>
      </li>
    </ul>
  </div>
</nav>
