<div class="account section border-top" style="min-height:81vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">
          <div class="text-center heading">
            <h3 class="mb-2">Sign Up</h3>
            <p class="lead">Already have an account? <a routerLink="/login"> Login now</a></p>
          </div>

          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group mb-4">
              <label>Enter Email Address</label>
              <input formControlName="email" type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group mb-4">
              <label>Enter Password</label>
              <input formControlName="password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group mb-4">
              <label>Confirm Password</label>
              <input formControlName="confirmPassword" type="password" class="form-control"
                placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-main mt-3 btn-block">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
