<section class="user-dashboard page-wrapper border-top py-4" style="min-height: 81vh;">
  <div class="container">
    <h2 class="py-2">My Profile</h2>
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-7">
        <div *ngIf="orders$ | async as orders">
          <h2 class="py-2">Order History</h2>
          <table  class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Total Products</th>
                <th scope="col">Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{ order.orderDate | date}} </td>
                <td>{{ order.amountOfProducts }}</td>
                <td>${{ order.totalPrice | number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-12 col-md-7 col-sm-12 col-lg-5">
        <div class="tab-pane fade show active" id="settings" role="tabpanel">
          <div class="acccount-settings">
            <h4 class="mb-4">Account information</h4>
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <div class="form-row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>First Name</label>
                    <input [(ngModel)]="user.firstName" type="text"  name="firstName" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input [(ngModel)]="user.lastName" type="text" name="lastName" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mb-4">
                    <label>Email address </label>
                    <input [(ngModel)]="user.email" type="text" name='email' class="form-control" placeholder="">
                  </div>
                </div>
              </div>
            </form>
            <button form="editForm" type="submit" class="btn btn-dark">Save Changes</button>

          </div>
        </div>


      </div>


    </div>
  </div>
</section>
