<section class="cart shopping page-wrapper border-top py-4" style="min-height: 81vh;">
  <div *ngIf="cart$ | async" class="container">
    <h2 class="py-2">My Cart</h2>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="product-list">
          <form class="cart-form">
            <table class="table shop_table shop_table_responsive cart" cellspacing="0">
              <thead>
                <tr>
                  <th class="product-thumbnail"> </th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-subtotal">Total</th>
                  <th class="product-remove"> </th>
                </tr>
              </thead>

              <tbody *ngFor="let item of cart.items;">
                <tr class="cart_item">
                  <td class="product-thumbnail" data-title="Thumbnail">
                    <a routerLink="/products/{{item.product.id}}"><img src="assets/images/cart-1.jpg"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""></a>
                  </td>

                  <td class="product-name" data-title="Product">
                    <a routerLink="/products/{{item.product.id}}">{{item.product.name}}</a>
                  </td>

                  <td class="product-price" data-title="Price">
                    <span class="amount"><span class="currencySymbol">
                      </span>{{item.product.price | number:'1.2-2'}}</span>
                  </td>
                  <td class="product-quantity" data-title="Quantity">
                    <input type="number" min="1" name="product-quantity-{{item.id}}" [(ngModel)]="item.quantity"
                      (ngModelChange)="quantityChanged(item)"/>
                      <button class="remove-button" (click)="removeProduct(item)">X</button>
                  </td>
                  <td class="product-subtotal" data-title="Total">
                    <span class="amount">
                      <span class="currencySymbol"></span>
                      {{item.product.price * item.quantity | number:'1.2-2'}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-lg-4">
        <div class="cart-info card p-4 mt-4">
          <h4 class="mb-4">Cart totals</h4>
          <ul class="list-unstyled mb-4">
            <li class="d-flex justify-content-between pb-2 mb-3">
              <h5>Subtotal</h5>
              <span>${{ cart.totalPrice | number:'1.2-2'}}</span>
            </li>
            <li class="d-flex justify-content-between pb-2 mb-3">
              <h5>Shipping</h5>
              <span>Free</span>
            </li>
            <li class="d-flex justify-content-between pb-2">
              <h5>Total</h5>
              <span>${{ cart.totalPrice | number:'1.2-2'}}</span>
            </li>
          </ul>
          <a (click)="order()" class="btn btn-main btn-small">Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<span class="amount"><span class="currencySymbol">
                        <pre wp-pre-tag-3=""></pre>
                      </span>x{{product.quantity }}</span>-->


<!--<td class="product-remove" data-title="Remove">
                      <a style="cursor:pointer" (click)="removeFromCart(product)" class="remove" aria-label="Remove this item" data-product_id="30"
                        data-product_sku="">-</a>
                    </td>
                    <td class="product-remove" data-title="Add">
                      <a style="cursor:pointer" (click)="addToCart(product)" class="remove" aria-label="Remove this item" data-product_id="30"
                        data-product_sku="">+</a>
                    </td>-->
