<div class="account section border-top" style="min-height:81vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">
          <div class="text-center heading">
            <h3 class="mb-2">Log in</h3>
            <p class="lead">Don't have an account? <a routerLink="/register"> Register now</a></p>
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group mb-4">
              <label for="#">Enter Email Address</label>
              <input formControlName="email" type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter Password</label>
              <input formControlName="password" type="Password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-main mt-3 btn-block">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
