<div class="main-slider slider" >
  <div class="slider-item " style="background-image:url('assets/images/slideshow1-2.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Winter Collection Sale </span>
            <h1 class="mt-2 mb-5"><span class="text-color">70% off </span>to everything</h1>
            <a href="#" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="features border-top border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="feature-block">
            <i class="tf-ion-android-bicycle"></i>
            <div class="content">
              <h5>Free Shipping</h5>
              <p>On all orders</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="feature-block">
            <i class="tf-wallet"></i>
            <div class="content">
              <h5>30 Days Return</h5>
              <p>Money back Guarantee</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="feature-block">
            <i class="tf-key"></i>
            <div class="content">
              <h5>Secure Checkout</h5>
              <p>100% Protected by paypal</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="feature-block">
            <i class="tf-clock"></i>
            <div class="content">
              <h5>24/7 Support</h5>
              <p>Customer support at all times</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<section class="section products-main p-4">
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="title text-center">
                      <h2>New releases</h2>
                      <p>These are our new items in the shop!</p>
                  </div>
              </div>
          </div>

      <div *ngIf="products$ | async as products" class="row">
        <div *ngFor="let product of products" class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5" >
            <div class="product">
              <div class="product-wrap">
                  <a routerLink="/products/{{product.id}}"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/322.jpg" alt="product-img" /></a>
                  <a routerLink="/products/{{product.id}}"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a>
              </div>

              <div class="product-info">
                  <h2 class="product-title h5 mb-0"><a routerLink="/products/{{product.id}}">{{ product.name }}</a></h2>
                  <span class="price">
                      $ {{product.price | number:'1.2-2'}}
                  </span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

